<style>
      
  h1{
     color:darkred;

  }

class{


   padding: 630px ;





}
red{
    padding: 620px;



}


body{
    background-color: darkorange;




}







</style>